@model ANVBookstore.Models.CustomerInput

@{
    ViewData["Title"] = "Customer Login";
}



<h1>Customer Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Customer_Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerUser" class="control-label">UserName</label>
                <input asp-for="CustomerUser" class="form-control" />
                <span asp-validation-for="CustomerUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPass" class="control-label">Password</label>
                <input asp-for="CustomerPass" class="form-control" />
                <span asp-validation-for="CustomerPass" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="ReturnURL" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Customer Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register" class="btn btn-md btn-primary">SignUp</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


